<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body style="text-align: center">
        <h1>Hello you are in my server</h1>
        <h2>To play around with my first task, just send a post request on to localhost:3000/towers <br /></h2>
        <p>You need to send only json formated data (Example: { `towers`: [5, 2, 10] }</p>
        <h2>To play around with my second task, then send a post request on to localhost:3000/format_time</h2>
        <p>Send json formated data (Example: { `time`: 500 }</p>
    </body>
</html>
